<appSettings>
  <add key ="MailServer" value="dev-smtp.ehealth.com"/>
  <add key ="FacebookAppId" value ="564491887225516"/>
  <add key ="FacebookAppSecret" value ="778b9af61b0f3e47fc0702040a0ce0e3"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>